.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 15rem;
    // overflow-y: hidden;
    margin-bottom: 6rem;
    position: relative;
    border-radius: 20px;
    z-index: 1;
    &__img {
        width: 10.5rem;
        height: 100%;
        width: 40%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-position: center;
        background-size: cover;
        // transform: scale(0.75);
        // height: auto;
        // background: url("https://i.ibb.co/mJS6vz0/blue-jean-jacket.png");
        // background-size: cover;
    }
    &__content {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 60%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 2.2rem;
        &__main {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__header {
            margin-bottom: 0.5rem;
            font-weight: 300;
            margin-bottom: 1rem;
        }
        &__price {
            font-weight: 500;
        }
        &__size-buttons-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__btn {
            // background-color: black;
            background-color: transparent;
            color: black;
            width: 3.5rem;
            height: 3.5rem;
            cursor: pointer;
            font-size: 1.75rem;
            border: none;
            outline: none;
            transition: all 0.2s ease-in-out;
            display: flex;
            justify-content: center;
            border: 1px solid rgba(29, 31, 34, 1);
            padding: 1rem;
        }
        &__quantity-buttons-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 25%;
            height: 100%;
            z-index: 20;
            transition: all 0.3s ease-in-out;
            overflow: hidden;
        }
        &__price &__quantity-btn:hover .cart-item__content__btn {
            color: white;
        }
        &__quantity {
            // margin-right: 2.75rem;
            margin: 0 1rem;
            position: relative;
        }
    }
}