.cart-dropdown {
    position: absolute;
    width: 40rem;
    height: 54rem;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: none;
    background-color: #FFFFFF;
    padding: 2rem;
    top: 90px;
    right: 40px;
    z-index: 25;
    opacity: 1;
    animation: dropDown 0.3s ease-in-out;
    &__items-count-container {
        font-size: 1.6rem;
        font-weight: bold;
    }
    &__items-count {
        font-weight: 400;
    }
    .cart-items {
        height: 400px;
        display: flex;
        flex-direction: column;
        // this will hide the scroll bar in case that of no overflow
        padding: 2rem 0;
        overflow-y: scroll;
        // overflow-y: scroll;
    }
    .cart-btn {
        margin-top: auto;
        width: 80%;
        transition: all 0.3s ease-in-out;
        background-color: black;
        position: absolute;
        bottom: 2rem;
        &:hover {
            border: 1px solid black;
            color: black;
            background-color: white;
        }
    }
    .buttons-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        bottom: 2rem;
        width: 100%;
        &__button {
            width: 16.5rem;
            height: 4.3rem;
            font-weight: 600;
            line-height: 1.6rem;
            font-family: 'Raleway', sans-serif;
            letter-spacing: .1rem;
            text-transform: uppercase;
            cursor: pointer;
            // &:not(:first-of-type) {}
            border: none;
            outline: none;
            &__viewbag {
                border: 1px solid rgba(29, 31, 34, 1);
                color: black;
                background-color: white;
            }
            &__checkout {
                color: white;
                background-color: rgba(94, 206, 123, 1);
            }
        }
    }
}

@keyframes dropDown {
    0% {
        opacity: 0.4;
        transform: translateY(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}