.categoryPage {
    width: 100%;
    padding: 2rem 0rem;
    height: 105rem;

    &__header {
        font-size: 2.5rem;
        margin-bottom: 5rem;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__items-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        @media only screen and (max-width: 1000px) {
            justify-content: space-between;
        }

        @media only screen and (max-width: 650px) {
            justify-content: center
        }
    }
}