.item-attribute {
  width: 100%;
  font-size: 1rem;
  margin: 0.5rem 0;
  padding-bottom: 0.8em;

  &__name {
    font-size: 1.8em;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1.8em;
    font-weight: bold;
    margin-bottom: .75em;
    text-transform: uppercase;
  }

  &__buttons-container {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 0.5em;

    &::-webkit-scrollbar {
      top: 12rem;
      width: 11px;
      height: 11px;
      margin-top: 2em;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(95deg, #1d1f22 43%, #1d1f22 63%);
      border-radius: 13px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #5ece7b;
    }

    &::-webkit-scrollbar-track {
      background: #ffffff;
      border-radius: 11px;
      box-shadow: inset 7px 10px 12px #f0f0f0;
    }
  }

  &__btn {
    min-width: 3.5em;
    height: 2.75em;
    border: 1px solid #1d1f22;
    outline: none;
    background-color: white;
    color: black;
    font-size: 1.7em;
    line-height: 1.8rem;
    font-family: "Source Sans Pro", sans-serif;
    cursor: pointer;

    &:not(:first-of-type) {
      margin: 0 1em;
    }

    &:first-of-type {
      margin-right: 1em;
    }

    &.active {
      background-color: black;
      color: white;
    }
  }

  &.mini {
    font-size: 0.55rem;
    max-height: 10em;

    &__btn {
      width: 3.5rem;
      display: none;
    }

    &__name {
      font-size: 1.8em;
      font-family: "Roboto Condensed", sans-serif;
      line-height: 1.8em;
      font-weight: bold;
      margin-bottom: .25em;
      text-transform: uppercase;
    }
  }

  &.mini &__btn {
    &:not(:first-of-type) {
      margin: 0 0.5em;
    }

    &:first-of-type {
      margin-right: 0.5em;
    }
  }
}
