.cart-dropdown {
    position: absolute;
    min-width: 45rem;
    height: 54rem;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: none;
    background-color: #FFFFFF;
    top: 90px;
    right: 40px;
    z-index: 25;
    opacity: 1;
    animation: dropDown 0.3s ease-in-out;

    &__items-count-container {
        font-size: 1.6rem;
        font-weight: bold;
        padding: 1rem 2rem;
    }

    &__total-price {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4rem;
    }

    &__items-count {
        font-weight: 400;
    }

    .cart-items {
        height: 34rem;
        display: flex;
        flex-direction: column;
        // this will hide the scroll bar in case that of no overflow
        padding: 2rem 2rem;
        overflow-y: auto;


        // overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .cart-btn {
        margin-top: auto;
        width: 80%;
        transition: all 0.3s ease-in-out;
        background-color: black;
        position: absolute;
        bottom: 2rem;

        &:hover {
            border: 1px solid black;
            color: black;
            background-color: white;
        }
    }

    .buttons-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 2rem;
        width: 100%;
        padding: 0 1.5rem;

        &__button {
            width: calc((100% / 2) - 1rem);
            height: 4.3rem;
            font-weight: 600;
            line-height: 1.6rem;
            font-family: 'Raleway', sans-serif;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 1.5rem;
            border: none;
            outline: none;

            &__viewbag {
                border: 1px solid rgba(29, 31, 34, 1);
                color: black;
                background-color: white;
            }

            &__checkout {
                color: white;
                background-color: rgba(94, 206, 123, 1);
            }
        }
    }
}

@keyframes dropDown {
    0% {
        opacity: 0.4;
        transform: translateY(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}