.cart {
    width: 100%;
    height: 60rem;
    &__header {
        font-size: 3.2rem;
        font-family: 'Raleway', sans-serif;
        color: rgba(29, 31, 34, 1);
        font-weight: bold;
        height: 5rem;
    }
    &__items-container {
        width: 100%;
        height: 55rem;
    }
    &__item {
        width: 100%;
        height: 20rem;
        padding: 1rem 0;
        display: flex;
        margin: 1rem 0;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgba(229, 229, 229, 1);
        &__left-side {
            height: 100%;
            padding-right: 2rem;
        }
        &__right-side {
            width: 35rem;
            height: 100%;
            display: flex;
            &__quantity-control {
                height: 100%;
                width: 10rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-right: 2rem;
                &__amount {
                    font-size: 2.4rem;
                    line-height: 3.8rem;
                }
            }
        }
        &__name {
            font-size: 3rem;
            font-weight: 600;
        }
        &__price {
            font-size: 2.4rem;
            font-weight: 700;
            margin: 1rem 0;
        }
        &__attributes {
            height: 6.5rem;
            margin-top: 1rem;
            overflow: auto;
            &::-webkit-scrollbar {
                top: 12rem;
                width: 11px;
                height: 11px;
                margin-top: 2rem;
            }
            &::-webkit-scrollbar-thumb {
                background: linear-gradient(95deg, #1d1f22 43%, #1d1f22 63%);
                border-radius: 13px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #5ece7b;
            }
            &::-webkit-scrollbar-track {
                background: #ffffff;
                border-radius: 11px;
                box-shadow: inset 7px 10px 12px #f0f0f0;
            }
        }
    }
}