$--c-primary :#5ECE7B;
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color: white;
    font-size: 1.6rem; //16px
    &__section {
        padding: 0 2rem;
        height: 100%;
        display: flex;
        align-items: center;
        width: 33.3%;
        &__right {
            align-self: flex-end;
            justify-content: flex-end;
            &__item {
                margin: 0 1rem;
            }
            padding-right: 4rem;
            &__item {
                margin: 0 1rem;
            }
        }
        &__left {
            align-self: flex-start;
            align-content: left;
            display: flex;
            justify-content: space-around;
            &__item {
                position: relative;
                transition: .3s ease-in-out forwards;
                &:hover {
                    color: $--c-primary;
                    &::after {
                        visibility: visible;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -2.5rem;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 8rem;
                    height: 2px;
                    background-color: $--c-primary;
                    visibility: hidden;
                    transition: all .3s ease-in-out forwards;
                }
            }
        }
        &__middle {
            justify-content: center;
        }
    }
    &__item {
        cursor: pointer;
        position: relative;
    }
    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: grey;
        &__small {
            width: 1.25rem;
            height: 1.25ren;
        }
        &__chevron {
            position: absolute;
            top: .5rem;
        }
    }
}