@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,500;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');


.App {
    font-family: 'Raleway', sans-serif;
    padding: 0rem 8rem;
 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    height: 100%;
    width: 100%;
}


 @media only screen and (min-width: 1675px) {
    .App {
        padding: 0rem 16rem;
    }
}
@media only screen and (max-width: 1104px) {
    html {
        font-size: 9px;
    }
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 7.5px;
    }
    .App {
        padding: 0rem 8rem;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 7px;
    }
}

@media only screen and (max-width: 350px) {
    html {
        font-size: 6px;
    }
}

@media only screen and (max-width: 300px) {
    html {
        font-size: 5.5px;
    }
}

body,
html {
    height: 100%;
}

